
<h5 class="sidebar-header">Navigation</h5>
<ul class="nav nav-pills nav-stacked">
    <li  {% if menu == 'orders' %}  class="active" {% else %}  class="nav-dropdown" {% endif %}  >
        <a href="{{ 'orders' | url }}" title="orders">
            <i class="fa icon-basket"></i>Pedidos
        </a>
    </li>
    <li
      {% if menu == 'list' %}  class="active" {% else %}  class="nav-dropdown" {% endif %}  >
        <a href="{{ '' | url }}" title="list">
            <i class="fa fa-list-ul"></i>  Listado
        </a>
    </li>
    <li  {% if menu == 'product' %}  class="active" {% else %}  class="nav-dropdown" {% endif %}  >
        <a href="{{ 'product' | url }}" title="product">
            <i class="fa fa-cogs"></i>Admin Productos
        </a>
    </li>
    <li  {% if menu == 'category' %}  class="active" {% else %}  class="nav-dropdown" {% endif %}  >
        <a href="{{ 'category' | url }}" title="category">
            <i class="fa fa-cogs"></i>Admin Categorías
        </a>
    </li>
    
</ul>
