<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SotoSeguros-E500</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ 'plugins/bootstrap/css/bootstrap.min.css'  | estilo }}">
    <!-- Fonts  -->
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css'  | estilo }} ">
    <link rel="stylesheet" href="{{ 'css/simple-line-icons.css'  | estilo }} ">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{{ 'css/animate.css'  | estilo }} ">

    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{{ 'css/main.css'  | estilo }} ">    
    <!-- Feature detection -->
    <script src="{{ 'js/vendor/modernizr-2.6.2.min.js'  | estilo }}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src=".../assets/js/vendor/html5shiv.js"></script>
    <script src=".../assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section class="container">

        <div class="row">
  <div class="col-md-6 col-md-offset-3">
        <div id="error-container" class="block-error animated fadeInUp">
                    
           <header>
             <h1 class="error">500</h1>
             <p class="text-center">Internal Server Error.</p>
          </header>
                    
                    <p class="text-center">Something went wrong, please try again later.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-info btn-block btn-3d" href="{{ 'dashboard'  | url }}">Back to Dashboard</a>
                        </div>
                    </div>
                </div>
                </div>
  </div>
    </section>
    <!--Global JS-->
    <script src="{{ 'js/vendor/jquery-1.11.1.min.js'  | estilo }}"></script>
    <script src="{{ 'plugins/bootstrap/js/bootstrap.min.js'  | estilo }}"></script>
    <script src="{{ 'plugins/navgoco/jquery.navgoco.min.js'  | estilo }}"></script>
    <script src="{{ 'plugins/pace/pace.min.js'  | estilo }}"></script>
    <script src="{{ 'js/src/app.js'  | estilo }}"></script>
</body>

</html>
