{% extends "layout.twig" %}


{% block title %}
<title>{{ title |capitalize }}</title>
{% endblock title %}

{% block content %}
    <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>{{ title |capitalize }}</h1>
                <p class="description">

                {% if result %}
                    <input type="hidden" name="result" id="result" value="{{result}}">
                {% endif %}
                </p>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li class="active">{{ title |capitalize }}</li>
                    </ol>
                </div>
            </div>

            <section id="main-content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="actions pull-right">
      
                                </div>
                            </div>
                            <div class="panel-body ng-binding">
                                <form method="post"  enctype="multipart/form-data">
                                    <div class="form-group col-md-6">
                                            <label for="exampleInputEmail1">Nombre</label>
                                            <input type="text" name="nombre"  id="nombre" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputEmail1">Descripción</label>
                                        <input type="text" name="desc"  id="desc" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputEmail1">Código de barras</label>
                                        <input type="number" name="bar"  id="bar" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputEmail1">Precio</label>
                                        <input type="number" name="price"  id="price" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputEmail1">Cantidades disponibles</label>
                                        <input type="number" name="available"  id="available" class="form-control" required>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="exampleInputEmail1">Categoría</label>
                                        <select class="form-control"  name="category"  id="category"  required>
                                            {% for category in categories %}
                                                <option value="{{category.id}}">{{category.name}}</option> 
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 ">
                                        <a class="btn btn-warning" href="{{ 'product'  | url }}">Cancelar</a> 
                                        <button type="submit" class="btn btn-primary">Guardar</button> 
                                    </div>
                                        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </section>
    
    

{% endblock %}


{% block js %}

{% endblock js %}