{% extends "layout.twig" %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}
    <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>{{ title }}  </h1> 
                <p class="description"></p>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li class="active">{{ title }}</li>
                    </ol>
                </div>
            </div>
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body ng-binding">
                            <h1>Su pedido ha sido realizado exitosamente</h1>
                            <br>
                            <span></span>
                            <div class="panel panel-solid-info widget-mini">
                                <div class="panel-body">
                                    <i class="fa fa-money"></i>
                                    <span class="total text-center" >{{ id }}</span>
                                    <span class="title text-center">Consecutivo del pedido</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </section>

    <
{% endblock %}


{% block js %}

{% endblock js %}