{% extends "layout.twig" %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}
    <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>{{ title }}  </h1> 
                <p class="description"></p>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li class="active">{{ title }}</li>
                    </ol>
                </div>
            </div>
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body ng-binding">
                                
                                {% if result %}
                                    <input type="hidden" name="result" id="result" value="{{result}}">
                                {% endif %}
                                <div class="panel-body">
                                
                                <div class="panel-body">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Categoría</th>
                                            <th>Código</th>
                                            <th>Precio</th>
                                            <th>Unidades</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set total = 0 %}
                                        {% for product in products %}
                                        <tr>
                                            <td>{{product.name |capitalize}}</td>
                                            <td>{{product.c_name | slice(0, 50) }}</td>
                                            <td>{{product.bar_code}}</td>
                                            <td>$ <span id="val{{product.id}}">{{product.price|number_format}}</span></td>
                                            <td>{{product.amount}}</td>

                                            
                                             {% set total = total + (product.amount * product.price) %}
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                      
                                    <div class="panel panel-solid-info widget-mini">
                                        <div class="panel-body">
                                            <i class="fa fa-money"></i>
                                            <span class="total text-center" id="total">$ {{total}}</span>
                                            <span class="title text-center">Total Pedido</span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ 'custom/delete.js'  | estilo }}"></script>
{% endblock js %}


