<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}

    {% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ 'plugins/bootstrap/css/bootstrap.min.css'  | estilo }}">

    <!-- custom CSS -->
    <link  href="{{ 'custom/custom.css?v=1.0.2'  | estilo }}">

    <!-- C3 Chart-->
    <link rel="stylesheet" href="{{ 'plugins/c3Chart/css/c3.css'  | estilo }}">
    
    <!-- Fonts  -->
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css'  | estilo }} ">
    <link rel="stylesheet" href="{{ 'css/simple-line-icons.css'  | estilo }} ">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{{ 'css/animate.css'  | estilo }} ">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{{ 'css/main.css'  | estilo }} ">
    
    <!-- Feature datepicker -->
    <link rel="stylesheet" href="{{ 'plugins/datapicker/css/datepicker3.css'  | estilo }} ">
   
    <!-- DataTables-->
    <link rel="stylesheet" href="{{ 'plugins/dataTables/css/dataTables.css'  | estilo }}">
    <!-- Loading -->
    <link rel="stylesheet" href="{{ 'plugins/cover-spin/cover-spin.css'  | estilo }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/vendor/html5shiv.js"></script>
    <script src="../../assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <noscript>
    <META HTTP-EQUIV="Refresh" CONTENT="0;URL={{ 'error/415'  | url }}">
    </noscript>
    <section id="main-wrapper" class="theme-default">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="{{ 'dashboard'  | url }}" class="logo">
                    
                    <span>Compras</span></a>
            </div>
            <!--logo end-->
            <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                    <button class="sidebar-toggle" id="toggle-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
                <li class="toggle-profile hidden-xs">
                    <button type="button" class="btn btn-default" id="toggle-profile">
                        <i class="icon-user"></i>
                    </button>
                </li>
                <li class="hidden-xs">
                    <div class="alert alert-warning alert-dismissable" id="navigatorAlert" style="display: none;" >
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>¡Advertencia! </strong>Su navegador no es compatible con las funciones de esta pagina. recomendamos usar <a href="https://www.google.com/intl/es_ALL/chrome/">Google Chrome</a>  .</div>
                </li>
            </ul>
            
            
        </header>
        
        <!--sidebar left start-->
        <aside class="sidebar sidebar-left">
        

            <nav>
                {% include('partials/menuclients.twig') %}
            </nav>
        </aside>
        <!--sidebar left end-->
        <!--main content start-->
        {% block content %}

        {% endblock %}
        <!--main content end-->
    </section>
    <!--sidebar right start-->
    <aside id="sidebar-right">
        <h4 class="sidebar-title">contact List</h4>
        <div id="contact-list-wrapper">
            <div class="heading">
                <ul>
                    <li class="new-contact"><a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                        <input type="text" class="search" placeholder="Search">
                        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div id="contact-list">

            </div>
            <div id="contact-user">
                <div class="chat-user active"><span><i class="icon-bubble"></i></span>
                </div>
                <div class="email-user"><span><i class="icon-envelope-open"></i></span>
                </div>
                <div class="call-user"><span><i class="icon-call-out"></i></span>
                </div>
            </div>
        </div>
    </aside>
    <!--/sidebar right end-->
    <!--Global JS-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="{{ 'plugins/bootstrap/js/bootstrap.min.js'  | estilo }}"></script>
    <script src="{{ 'plugins/navgoco/jquery.navgoco.min.js'  | estilo }}"></script>
    <script src="{{ 'plugins/pace/pace.min.js'  | estilo }}"></script>
    <script src="{{ 'js/src/app.js'  | estilo }}"></script>

    <!-- Feature detection -->
    <script src="{{ 'js/vendor/modernizr-2.6.2.min.js'  | estilo }}"></script>

    <!--messages  JS -->
    <script src="{{ 'plugins/messenger/js/messenger.min.js'  | estilo }}" ></script>
    <script src="{{ 'plugins/messenger/js/messenger-theme-future.js'  | estilo }}" ></script>


    <!--dataTables  JS -->
    <script src="{{ 'plugins/dataTables/js/jquery.dataTables.js'  | estilo }}" ></script>
    <script src="{{ 'plugins/dataTables/js/dataTables.bootstrap.js'  | estilo }}" ></script>
    {# platform #}

    <script  src="{{ 'plugins/platform/platform.js'  | estilo }}"></script>
    <script  src="{{ 'custom/navigator.js'  | estilo }}"></script>

    <!-- Data picker -->
    <script src="{{ 'plugins/datapicker/js/bootstrap-datepicker.js'  | estilo }}" ></script>
    <script type="text/javascript" src="{{ 'custom/sweetalert.min.js'  | estilo }}"></script>

    {% block js %}

    {% endblock %}



</body>

</html>
