{% extends "layout.twig" %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}
<section class="main-content-wrapper">
    <div class="pageheader">
        <h1>{{ title }} </h1>
        <p class="description"></p>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">You are here:</span>
            <ol class="breadcrumb">
                <li class="active">{{ title }}</li>
            </ol>
        </div>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body ng-binding">
                        {% for order in orders %}
                            <div class="panel panel-solid-info widget-mini">
                                <div class="panel-body">
                                    <i class="fa fa-money"></i>
                                    <span class="total text-center" id="total">Orden: <span id="total_order">{{order.id}}</span></span>
                                    <span class="title ">Cedula: {{order.client_id}}</span>
                                    <span class="title ">Nombre: {{order.client_name}}</span>
                                    <span class="title ">Dirección: {{order.client_city}}-{{order.client_address}}</span>
                                    <span class="title ">Correo: {{order.client_email}}</span>

                                    <a type="button" href="{{ 'orders/num/'  | url }}{{order.id}}" class="btn btn-success btn-sm">Ver mas</a>

                                </div>
                            </div>
                            <br>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %} 

{% block js %} 

{% endblock js %}