{% extends "layout.twig" %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}
    <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>{{ title }}  </h1> 
                <p class="description"></p>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li class="active">{{ title }}</li>
                    </ol>
                </div>
            </div>
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body ng-binding">
                                
                                {% if result %}
                                    <input type="hidden" name="result" id="result" value="{{result}}">
                                {% endif %}
                                <div class="panel-body">
                                
                                <div class="panel-body">
                                <form name="prod" id="prod" method="post">
                                <table id="example" class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Categoría</th>
                                            <th>Código</th>
                                            <th>Precio</th>
                                            <th>Unidades</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        <tr>
                                            <td>{{product.name |capitalize}}</td>
                                            <td>{{product.description | slice(0, 50) }}</td>
                                            <td>{{product.c_name | slice(0, 50) }}</td>
                                            <td>{{product.bar_code}}</td>
                                            <td>$ <span id="val{{product.id}}">{{product.price|number_format}}</span></td>
                                            <td>                                             
                                                <input type="hidden" name="prod[]" value="{{product.id}}">
                                                {% if product.available > 10 %} {% set available = 10 %} {% else %} {% set available = product.available %} {% endif %}    
                                                <input class="form-control count" type="number" name="id[]" max="{{available}}" data-id="{{product.id}}" data-before="0" min="0" value="0">
                                            </td>
                                             
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                      
                                    <div class="panel panel-solid-info widget-mini">
                                        <div class="panel-body">
                                            <i class="fa fa-money"></i>
                                            <span class="total text-center" id="total">$ <span id = "total_order">0</span>
                                            <span class="title text-center">Total Pedido</span>
                                        </div>
                                    </div>
                        
                                        <button type="button" id="button_data" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Confirmar </button>
                                        <div class="datos">
                                            <br>
                                            <h2>por favor llene los datos para realizar el pedido</h2>
                                            <br>
                                            <div class="form-group  col-md-12">
                                                <label for="exampleInputEmail1">Tipo Documento</label>
                                                <select class="form-control" name="id_type" id="id_type">
                                                    <option value="CC">CC</option>
                                                    <option value="NIT">NIT</option>
                                                </select>
                                            </div>
                                            <div class="form-group  col-md-12">
                                                <label for="exampleInputEmail1">Numero Identificación</label>
                                                <input  class="form-control"  type="text" name="id_number" id="id_number">
                                            </div>
                                            <div class="form-group  col-md-12">
                                                <label for="exampleInputEmail1">Nombre Completo</label>
                                                <input  class="form-control"  type="text" name="name" id="name">
                                            </div>
                                            <div class="form-group  col-md-12">
                                                <label for="exampleInputEmail1">Dirección de envió</label>
                                                <input  class="form-control"  type="text" name="dir" id="dir">
                                            </div>
                                            <div class="form-group  col-md-12">
                                                <label for="exampleInputEmail1">Ciudad</label>
                                                <input  class="form-control"  type="text" name="city" id="city">
                                            </div>
                                            <div class="form-group  col-md-12">
                                                <label for="exampleInputEmail1">Correo electrónico</label>
                                                <input  class="form-control"  type="email" name="email" id="email">
                                            </div>
                                            <br>

                                            <button type="submit"  class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Confirmar </button>
                                            <button type="button" id="button_reset" class="btn btn-warning btn-sm"><i class="fa fa-plus"></i>Cancelar </button>
                                        </div>

                                        
                                </form>
 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </section>

    <
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{{ 'custom/delete.js'  | estilo }}"></script>
    <script type="text/javascript" src="{{ 'custom/list.js'  | estilo }}"></script>
{% endblock js %}