{% extends "layout.twig" %}

{% block title %}
<title>{{ title |capitalize }}</title>
{% endblock title %}

{% block content %}
    <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>{{ title |capitalize }} <a class="btn btn-primary btn-sm" href="{{ 'product/add'  | url }}{{id}}"><i class="fa fa-plus">
                </i> Agregar</a></h1>
                <p class="description"></p>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li class="active">{{ title |capitalize}}</li>
                    </ol>
                </div>
            </div>
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body ng-binding">
                                <table id="example" class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Categoría</th>
                                            <th>Código</th>
                                            <th>Precio</th>
                                            <th>Unidades</th>
                                            <th>Proceso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        <tr>
                                            <td>{{product.name |capitalize}}</td>
                                            <td>{{product.description | slice(0, 50) }}</td>
                                            <td>{{product.c_name  |capitalize}}</td>
                                            <td>{{product.bar_code}}</td>
                                            <td>$ <span id="val{{product.id}}">{{product.price|number_format}}</span></td>
                                            <td>{{product.available}}</td>
                                            <td>
                                                <a title="Editar producto"  href="{{ 'product/edit/'  | url }}{{product.id}}" type="button" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a> 
                                                <a title="Eliminar producto"  href="" onclick="delete_product({{product.id}})" type="button"  class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </section>
    
    

{% endblock %}


{% block js %}
    <script type="text/javascript" src="{{ 'custom/delete.js'  | estilo }}"></script>
{% endblock js %}